<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="localhost_PRODUCT_SALES_Connection" connectionString="XpoProvider=MSSqlServer;data source=HIM-SOMEALEA\SQLEXPRESS01;integrated security=SSPI;initial catalog=PRODUCT_SALES;Encrypt=true;TrustServerCertificate=true" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>